body, html{
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 1rem;
}
.navTop {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #f5494d;
    font-size: 18px;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    padding: 5px;
}
.navTop ul {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
.navTop a{
    color: #FFFFFF;
}

.navMid{
    background-color: #FFFFFF;
    border: 5px solid black;
    width: calcu(100% + 30px);
}
.burger-img{
    height: 400px;
    object-fit: cover;
}
.bottomContent {
    background-image: url("../images/backgroundCharcol.jpeg");
    padding-bottom: 70px;
}

footer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #f25356;
    padding: 10px;
}
.bottomLogo{
    color: #f25356;
}
.bottomLogo div{
    justify-content: center;
    background-color: #FFFFFF;
}
.bottomLogo ul {
    justify-content: center;
    /*width: 50%;*/
}
.footerContainer {
    display: flex;
    /*flex-direction: column;*/
    justify-content: space-around;
    width:100%;
    margin-bottom: 16px;

}

footer ul li{
    list-style-type: none;
}

.footerLinks a{
    text-decoration: none;
    color: #FFFFFF;
}

.subscribeNow{
    display: flex;
    flex-direction: column;
    background-image: url("../images/backgroundCharcol.jpeg");
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    padding:10px;
    /*width: 40%;*/
}
.subscribeNow a{
    background-color: #f25356;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 75%;
    text-align: center;
}

.myForm{
    display: flex;
    justify-content: space-between;
    align-items: top;
}
button {
    height:70%;
    align-items: center;
    background-color: goldenrod;
    margin: auto 0;
    border-radius: 5px;
    padding: 5px 10px;
}
.myInPut{
    margin:10px;
}
.subToday {
    color: #f25356;
}
.socialContainer{
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.socialContainer a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 30px;
    margin: 0 10px;
}
.socialContainer p{
    font-size: 20px;
    font-family: 'Bree Serif', serif;
}
.socialIcon{

}

@include media-breakpoint-up(sm) {
    html {
        font-size: 1.2rem;
    }
}

@include media-breakpoint-up(md) {
    html {
        font-size: 1.4rem;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 1.6rem;
    }
}