body, html{
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 1rem;
}
.navTop {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #f5494d;
    font-size: 18px;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
.navTop ul {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
.navTop a{
    color: #FFFFFF;
}

.navMid{
    background-color: #FFFFFF;
    border: 5px solid black;
    width: calcu(100% + 30px);
}
.burger-img{
    height: 400px;
    object-fit: cover;
}
.bottomContent {
    height: 600px;
    background-image: url("../images/backgroundCharcol.jpeg");
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    background-color: #f25356;
    padding:50px;
}
.bottomLogo{
    color: #f25356;
}
.bottomLogo div{
    justify-content: center;
    background-color: #FFFFFF;
}
.bottomLogo ul {
    justify-content: center;
}
footer ul li{
    list-style-type: none;
}

.footerLinks a{
    text-decoration: none;
    color: #FFFFFF;
}

.socialContainer a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 30px;
    margin: 5px;
}

@include media-breakpoint-up(sm) {
    html {
        font-size: 1.2rem;
    }
}

@include media-breakpoint-up(md) {
    html {
        font-size: 1.4rem;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 1.6rem;
    }
}