body, html{
    padding: 0;
    margin: 0;
    width: 100%;
}
.navTop {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #f5494d;
    font-size: 18px;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
.navTop ul {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
.navTop a{
    /*text-decoration: none;*/
    color: #FFFFFF;
}

.navMid{
    background-color: #FFFFFF;
    border: 5px solid black;
    width: calcu(100% + 30px);
}
.burger-img{
    height: 400px;
    object-fit: cover;
}