.bottomBar{
    background-color: #f5494d;
    height: 60px;
}

.slogan {
    font-family:Raleway;
    font-size: 50px;
    justify-content: center;
    color: goldenrod;
    margin-bottom: 20px;
}
.row{
    justify-content: space-around;
    padding-top: 20px;
}

.card {
    justify-content: center;
    font-family: Raleway;
    border: 2px solid #f5494d;
}
.homeCard-img{
    height: 200px;

}
.card:hover {
    transform: scale(1.3);
    z-index: 10;
    outline: 1px solid red;
    margin-top: 10px;
}
.card-body::first-letter{
    color:#f5494d;
    font-size: 18px;
    font-weight: bolder;
}

