.bottomContent{
    padding-top: 50px;
}

.main {
    width: 80%;
    background-color: #FFFFFF;
    margin: auto;
    padding: 30px;
    border-radius: 5px;

}

h1 {
    text-align: center;
    color: #f5494d;
    text-shadow: 2px 2px 4px #000000;
}

.jobContent {
    margin: 40px auto;
    width: 60%;
    font-size: 18px;
}
.employeePic{
    margin: auto;
}
.picOne{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    width: 50%;
}
.btn-primary{
    background-color: #f5494d;
    color: #FFFFFF;
}

