.bottomContent{
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.mapContent{
    background-color: #FFFFFF;
}
.locationTitle {
    text-align: center;
    color: #f5494d;
    font-size: 30px;
}
.mapContainer{
   margin: auto;
    width:50%;
}
.addressConatainer{
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding: 20px;
    margin: auto;

}

.addressColumn{
    /*width: 80%;*/
    /*padding: 20px;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid black;
}

.addressRow{


}
.city{
    font-size: 18px;
    color: #f5494d;
}