body, html{
    padding: 0;
    margin: 0;
    width: 100%;
}
.container {
    width: 100%;
    background-color: #FFFFFF;
    margin: 25px auto;
    font-family: 'Raleway', sans-serif;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #f25356;
}
.nav ul {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
    .nav a{
        /*text-decoration: none;*/
        color: #FFFFFF;
    }

.navMid{
    background-color: #FFFFFF;
    border: 5 px solid red;
    width: calcu(100% + 30px);
}
.hero {
    height: 450px;
    background-color: aqua;
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    color: $ my-purple;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/heroBurger.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.bar{
    height: 100px;
    background-color: #f25356;
}
.main{
    height: 500px;
    display: flex;
    justify-content: center;
    background: #dadfea;
}
footer {
    display: flex;
    justify-content: space-between;
    height: 300px;
    background-color: #f25356;
    color:#FFFFFF;
    padding:50px;
}
.bottomLogo{
    color: #f25356;
}
.bottomLogo div{
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
}
.bottomLogo ul {
    display: flex;
    justify-content: center;
}